[submodule "_dependencies/t-hscript"]
	path = _dependencies/t-hscript
	url = https://github.com/troll-slaiyers/t-hscript
[submodule "_dependencies/linc_discord-rpc"]
	path = _dependencies/linc_discord-rpc
	url = https://github.com/Aidan63/linc_discord-rpc
